/* You can add global styles to this file, and also import other style files */
@import './assets/sass/_import.sass'
@import './assets/sass/_rwd.sass'
@import './assets/sass/_fixed.scss'

html, body
  padding: 0
  margin: 0
  width: 100%
  height: 100%
  font-family: 'Noto Sans TC', 'Microsoft JhengHei', 'PingFang', Verdana
  font-weight: lighter
  font-size: 16px
  -webkit-overflow-scrolling: auto
  scroll-behavior: smooth

*
  -webkit-overflow-scrolling: auto !important
  outline: none !important

h1, h2, h3, h4
  font-weight: lighter



/* tool */

.bg
  background-color: black
  background-size: cover
  background-position: center center
  background-repeat:  no-repeat

.bg-contain
  background-size: contain

.bg-content
  background-color: #f9f9f9

.rounded-my
  border-radius: 1rem !important

.rounded-0-phone
  @include phone-width
    border-radius: 0 !important

.rounded-my-top
  border-top-left-radius: 1rem !important
  border-top-right-radius: 1rem !important

.rounded-my-bottom
  border-bottom-left-radius: 1rem !important
  border-bottom-right-radius: 1rem !important

.shadow-my
  box-shadow: 0px 5px 10px #eee

.shadow-my-dark
  box-shadow: 0px 5px 10px #1a1919

.shadow-my-sm-dark
  box-shadow: 0px 3px 5px #1a1919

.shadow-my-reverse
  box-shadow: 0px -5px 10px #eee

.shadow-my-dark-reverse
  box-shadow: 0px -5px 10px #1a1919

.input-dark
  background: none !important
  border-color: white !important
  color: white !important


::-webkit-scrollbar
  width: 0px
  display: none !important

::-webkit-scrollbar-track
  display: none !important
  border-radius: 10px
  margin:80px 0 5px 0

::-webkit-scrollbar-thumb
  display: none !important
  border-radius: 4px
  background: rgb(219,219,219)

img.content-image
  width: 100%
  height: auto
