<div class="p-3 bg-dark">
  <h2 class="my-3 text-white mx-3">台北一日遊</h2>
  <p class="text-white mx-3">台灣的首都──台北是個充滿活力的現代都市，處處有驚喜等著你發掘！喜愛逛街的人可以在士林夜市、饒河街夜市、華西街夜市用划算的價格享受購物樂趣。 ... more</p>

  <div class="info-card blue">
    <p class="mt-0 mb-3 card-title">距離行程</p>
    <h2 class="mt-0 text-right">19天 20小時</h2>
  </div>

  <p class="mx-3 text-white mb-2">記得要帶</p>
  <div class="info-card white mt-0">
    <div>
      <div class="ui checkbox pb-3 d-block">
        <input type="checkbox" name="example" />
        <label>手機</label>
      </div>
      <div class="ui checkbox pb-3 d-block">
        <input type="checkbox" name="example" />
        <label>水壺</label>
      </div>
      <div class="ui checkbox pb-3 d-block">
        <input type="checkbox" name="example" />
        <label>一顆快樂的心</label>
      </div>
      <div class="ui checkbox pb-3 d-block">
        <input type="checkbox" name="example" />
        <label>睡袋</label>
      </div>
      <div class="ui checkbox pb-3 d-block">
        <input type="checkbox" name="example" />
        <label>三天份的午餐</label>
      </div>
      <div class="ui checkbox d-block">
        <input type="checkbox" name="example" />
        <label>相機</label>
      </div>
    </div>
  </div>

  <div class="info-card orange position-relative">
    <div class="my-2 position-absolute b-0 r-0" style="opacity: .3; margin-right: 11rem;">
      <i class="huge text-white marker right icon"></i>
    </div>
    <p class="mt-0 mb-3 card-title">行程景點</p>
    <h2 class="mt-0 text-right">先來看看<i class="pl-2 arrow right icon"></i></h2>
  </div>

  <p class="mx-3 text-white mb-2">提醒你</p>
  <div class="info-card yellow mt-0 position-relative">
    <div class="m-2 position-absolute t-0 r-0" style="opacity: .5">
      <i class="big text-white quote right icon"></i>
    </div>
    <p class="pt-3">這是一個台北跟團活動，由於台北交通繁榮，並不會進行點名。如果脫隊或是需要提早先離開，請你跟導遊通知後，即可自行離開。</p>
  </div>


  <p class="mx-3 text-white mb-2">相關資訊</p>
  <div class="info-card gray mt-0">
    <p class="mb-2 font-weight-bold"><i class="mr-2 home icon"></i>住宿：</p>
    <p class="m-0">地址：XXX市XXX區XXX路XX號</p>
    <p class="m-0">聯絡：0933-333-333</p>
    <div class="ui divider"></div>
    <p class="mb-2 font-weight-bold"><i class="mr-2 shuttle van icon"></i>遊覽車：</p>
    <p class="m-0">車號：000-000</p>
    <p class="m-0">聯絡：0933-333-333</p>
    <div class="ui divider"></div>
    <p class="mb-2 font-weight-bold"><i class="mr-2 user icon"></i>導遊：</p>
    <p class="m-0">姓名：ＸＸＸ(Hello)</p>
    <p class="m-0">聯絡：0933-333-333</p>
  </div>


</div>
