<div>
  <div class="container">
    <div class="mt-5">
      <form>
        <div class="form-row">
          <div class="form-group col-12">
            <label>行程名稱</label>
            <input type="email" class="form-control">
          </div>

          <div class="form-group col-6">
            <label>時程</label>
            <input type="password" class="form-control">
          </div>

          <div class="form-group col-6">
            <label>集合地點</label>
            <input type="password" class="form-control">
          </div>

          <div class="form-group col-12">
            <label>攜帶物品</label>
            <input type="email" class="form-control">
          </div>

          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">+</span>
            </div>
            <input type="text" class="form-control" placeholder="Username">
          </div>

          <div class="form-group col-12">
            <label>描述</label>
            <textarea type="email" class="form-control" rows="3"></textarea>
          </div>


          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
