<section class="bg-content">
  <div
    class="bg bg-banner"
    style="background-image: url(https://invest.taipei/upload/F2001447653975000000.jpg);"
  ></div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-5">
        <div
          class="mt-4 mx-3 rounded-my shadow-my-dark bg bg-header"
          style="background-image: url(https://i.pinimg.com/originals/81/c2/5b/81c25bffa092593df0808a0332db1389.jpg)"
        ></div>
      </div>
      <div class="col-12 col-sm-7">
        <div class="mt-4 mx-3">
          <h2>一日台北遊</h2>
          <div class="d-flex align-items-end">
            <p class="m-0">0900 - 1500 (共 7 小時)</p>
            <small class="p-0 text-muted ml-auto"
              >5.0 星，共 2020 則評價！</small
            >
          </div>
          <hr />
          <p><span class="font-weight-bold">集合地點：</span>台北教育大學</p>
          <p><span class="font-weight-bold">攜帶物品：</span>一個輕鬆的心</p>
          <hr />
          <h5 class="font-weight-bold">描述：</h5>
          <p>
            台灣的首都──台北是個充滿活力的現代都市，處處有驚喜等著你發掘！喜愛逛街的人可以在士林夜市、饒河街夜市、華西街夜市用划算的價格享受購物樂趣。各大夜市內眾多的食物選擇滿足饕客們的味蕾，其中不容錯過的經典美味有珍珠奶茶、臭豆腐和牛肉麵。
          </p>
          <p>
            談到這座城市的代表建築，非台北101莫屬，它是世界上最高的建築之一，登上91樓可以飽覽整個城市美景。
          </p>
          <hr />
          <h5 class="font-weight-bold">時程表：</h5>
          <p>0900 - 1000: 台北教育大學集合</p>
          <p>1000 - 1300: 台北 101</p>
          <p>1300 - 1500: 台北車站</p>

          <!-- <div class="pb-5">
            {{ data | async | json }}
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
