<div
  class="fixed-bottom d-flex align-items-center justify-content-around w-100 bg-tabbar pb-3"
  style="box-shadow: 0px -5px 3px #1a191966"
>
  <button
    class="btn d-flex flex-column justify-content-center p-3 text-white"
    [routerLink]="['/tour']"
  >
    <i
      class="inverted large calendar alternate outline icon"
      [ngClass]="{'teal': url === '/tour'}"
    ></i>
  </button>

  <button
    class="btn d-flex flex-column justify-content-center p-3 text-white"
    [routerLink]="['/store']"
  >
    <i
      class="inverted large users icon"
      [ngClass]="{'teal': url === '/store'}"
    ></i>
  </button>

  <button
    class="btn d-flex flex-column justify-content-center p-3 text-white"
    style="margin-top: -2rem"
    [routerLink]="['/map']"
  >
    <div
      class="bg-add d-flex justify-content-center align-items-center rounded-circle p-3 shadow-my-dark"
    >
      <i class="large marker icon p-0 m-0"></i>
    </div>
  </button>

  <button
    class="btn d-flex flex-column justify-content-center p-3 text-white"
    [routerLink]="['/meal']"
  >
    <i
      class="inverted large utensils icon"
      [ngClass]="{'teal': url === '/meal'}"
    ></i>
  </button>

  <button
    class="btn d-flex flex-column justify-content-center p-3 text-white"
    [routerLink]="['/user']"
  >
    <i
      class="inverted large user icon"
      [ngClass]="{'teal': url === '/user'}"
    ></i>
  </button>
</div>
<div class="" style="height: 4.5rem;"></div>
