<div class="fixed-bottom bg-white border-top shadow-sm">
  <div class="container p-2">
    <div class="d-flex align-items-center mx-3">
      <div>
        <p class="font-weight-bold m-0">一日台北遊 (時程：7小時)</p>
        <p class="d-inline m-0 pr-3 vertical-align-center">總價： $0.0元台幣</p>
      </div>

      <div class="ml-auto">
        <button class="ml-auto btn btn-warning" (click)="openLoading()">
          立即下訂
        </button>
      </div>
    </div>
  </div>
</div>

<div style="height: 3.5rem;"></div>

<div
  class="fixed-top w-100 h-100 bg-white"
  style="z-index: 1040"
  *ngIf="isLoading"
></div>
