<div class="bg-dark w-100 h-100 position-relative">
  <div>
    <!-- map.component.html -->
    <agm-map
      class="w-100 h-map"
      id="map"
      [latitude]="location.latitude"
      [longitude]="location.longitude"
      [zoom]="location.zoom"
      [styles]="darkStyle"
      [disableDefaultUI]="true"
    >
      <agm-marker [iconUrl]="iconUrl" [animation]="animation" [latitude]="nowPosition.lat" [longitude]="nowPosition.lng">
      </agm-marker>

      <agm-direction
        [origin]="origin"
        [destination]="destination"
        [waypoints]="waypoint"
        [optimizeWaypoints]="true"
      ></agm-direction>
    </agm-map>

    <app-tool
      [isOpen]="isContentOpen"
      [tourList]="tour"
      (pointEvent)="selectPoint($event)"
    ></app-tool>
  </div>
  <div class="position-absolute b-0 w-100">
    <app-content
      [selectPoint]="select"
      (pointEvent)="changePoint($event)"
    ></app-content>
  </div>
</div>
